@CHARSET "UTF-8";
* {padding: 5px;margin: 0px;}
body{
	font-family: 'Noto Serif JP', serif;
	background-color:black;
	animation:fadeIn 0.5s ease 0s 1 normal;
	-webkit-animation:fadeIn 0.5s ease 0s 1 normal;
	background-attachment:fixed; background-position:center;
	background-size:cover; background-repeat:no-repeat; backdrop-filter:blur(10px);
	}
table{
	  text-align:center;
	  margin:auto;
	  backdrop-filter:blur(10px);
	  background: transparent;
	  width: 500px;
	  border-collapse:separate;
	  padding: 0;
	  box-shadow:0 0 15px -6px #00000073;
	 }
table#user{
		   margin:auto;
		   backdrop-filter:blur(10px);
		   background: transparent;
		   width: 550px;
		   border-collapse:separate;
		   padding: 0;
		   box-shadow:0 0 15px -6px #00000073;
		  }
table td:hover{background-color: #d4faff;}
caption{font-size:18pt;color:#009967;}
tr#data0{background:rgba(227, 255, 227, 0.8);}
tr#data1{background:rgba(164, 255, 219, 0.8);}
th{
   background:rgba(0, 140, 69, 0.8);
   color:#ECFFF3;
   width: 300px;
   border: 1px solid;
  }
th#user{
		background:rgba(0, 140, 69, 0.8);
		color:#ECFFF3;
		width: 200px;
		border: 1px solid;
	   }
td{
   text-align:left;
   vertical-align:top;
   white-space:nowrap;
   background-color:#f0f8ff;
   width: 350px;
   border: 1px solid #ECFFF3;
  }
td#outer{padding:10px; background:rgba(255, 255, 255, 0.8);}
#code{width:40px; text-align:center;}
#menu{width:250px;}
#price{width:60px; text-align:right; padding-right:5px;}
#comm{width:400px;}
#ord{width:100px; text-align:center;}
#btn{width:100px;}
#sub{
	 background: rgba(0, 140, 69, 0.8);
	 text-align: right;
	 color:red;
	 border:1px solid white
	}
h1{text-align:center;background:rgba(0, 140, 69, 0.8); color:#ECFFF3;}

h2{text-align:center;
   background:rgba(0, 140, 69, 0.8);
   color:#ECFFF3;width:490px;
   margin: 0 auto;
  }
div{width:100%;
	htight:100%;
	text-align: center;
	font-weight: bold;
	margin: 0 auto;}
div#red{width: 500px;
		text-align: center;
		font-weight: bold;
		color: red;
		margin: 0 auto;
		}
div#type1{width:120px; border:solid gray 1px; background:rgba(227, 255, 227, 0.8); color:#007B53;
			padding:2px; cursor:pointer; margin-top:5px;}
div#type2{width:120px; border:solid gray 1px;background:rgba(0, 140, 69, 0.8); color:#E3FFE3;
			padding:2px; cursor:pointer; margin-top:5px;}
div#insert{
		  width:500px;
		  background:rgba(227, 255, 227, 0.4);
		 }
div#update{
		  width:500px;
		  background:rgba(227, 255, 227, 0.4);
		 }
div#delete{
		  width:520px;
		  background:rgba(227, 255, 227, 0.4);
		 }
div#list{
		  width:900px;
		  background:rgba(227, 255, 227, 0.4);
		 }
div#user{
		  width:600px;
		  background:rgba(227, 255, 227, 0.4);
		 }
div#home{
		width:500px;
		  background:rgba(227, 255, 227, 0.4);
		}
p{width: 500px;text-align: center;}
p#boder{width: 500px;
		text-align: center;
		font-weight: bold;
		margin: 0 auto;
	   }
.button{
		display			: inline-block;
		border-radius	: 5%;						/* 角丸       */
		font-size		: 10pt;						/* 文字サイズ */
		text-align		: center;					/* 文字位置   */
		cursor			: pointer;					/* カーソル   */
		padding			: 4px 8px;					/* 余白       */
		background		: rgba(255, 95, 98, 0.79);	/* 背景色     */
		color			: #ffffff;					/* 文字色     */
		line-height		: 1em;						/* 1行の高さ  */
		opacity			: 0.8;						/* 透明度     */
		transition		: .3s;						/* なめらか変化 */
		box-shadow		: 3px 0px 3px #666666;		/* 影の設定 */
		}
.button:hover{
				box-shadow	: none;					/* カーソル時の影消去 */
				opacity   	: 1;					/* カーソル時透明度 */
			}
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
.main_imgBox {
      height: 100vw;
    overflow: hidden;
    position: relative; }
.main_img {
    z-index:-2147483647;
    opacity: 0;
    width: 100vw;
    height: 100vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: anime 78s 0s infinite;
    animation: anime 78s 0s infinite; }
animation: anime 78s 0s infinite;
.main_img:nth-of-type(2) {
      -webkit-animation-delay: 6s;
      animation-delay: 6s; }

    .main_img:nth-of-type(3) {
      -webkit-animation-delay: 12s;
      animation-delay: 12s; }

    .main_img:nth-of-type(4) {
      -webkit-animation-delay: 18s;
      animation-delay: 18s; }

    .main_img:nth-of-type(5) {
      -webkit-animation-delay: 24s;
      animation-delay: 24s; }

    .main_img:nth-of-type(6) {
      -webkit-animation-delay: 30s;
      animation-delay: 30s; }

      .main_img:nth-of-type(7) {
      -webkit-animation-delay: 36s;
      animation-delay: 36s; }

      .main_img:nth-of-type(8) {
      -webkit-animation-delay: 42s;
      animation-delay: 42s; }

      .main_img:nth-of-type(9) {
      -webkit-animation-delay: 48s;
      animation-delay: 48s; }

      .main_img:nth-of-type(10) {
      -webkit-animation-delay: 54s;
      animation-delay: 54s; }

      .main_img:nth-of-type(11) {
      -webkit-animation-delay: 60s;
      animation-delay: 60s; }

      .main_img:nth-of-type(12) {
      -webkit-animation-delay: 66s;
      animation-delay: 66s; }

      .main_img:nth-of-type(13) {
      -webkit-animation-delay: 72s;
      animation-delay: 72s; }

      .main_img:nth-of-type(14) {
      -webkit-animation-delay: 78s;
      animation-delay: 78s; }
@keyframes anime {
  0% {
        opacity: 0;
    }
    8% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
        transform: scale(1.2) ;
         z-index:-2147483646;
    }
    100% { opacity: 0 }
}
