				* 		{padding: 5px;
						margin: 0px;}
				body   	{text-align: center;}
				table  	{width: 500px;
						background: white;
	 					border: 1px #000000;
						border-collapse: collapse;
						margin: auto;}
				h2	   	{width: 490px;
						border: 1px solid #000000;
						background: #8FBC8F;
						margin: 0 auto;}
				h3	   	{width: 500px;
						text-align: center;
						margin: 0 auto;}
				th 	   	{border: 1px solid;
						background: #8FBC8F;}
				td 	   	{border: 1px solid;
						width: 380px;
						text-align: left;}
				div 	{width: 500px;
						text-align: left;
						font-weight: bold;
						color: red;
						margin: 0 auto;}
				td#head	{text-align: center;
						font-weight: bold;
						font-size: 24px;
						background: #8FBC8F;}
