* 		{padding: 5px;
		margin: 0px;}
body   	{text-align: center;}

h2	   	{width: 490px;
		border: 1px solid #000000;
		background: #8FBC8F;
		margin: 0 auto;}

table  	{width: 500px;
		background: white;
		border: 1px #000000;
		border-collapse: collapse;
		margin: auto;
		border-collapse: collapse;
		padding: 0;
		box-shadow: 0 0 15px -6px #00000073;}

th 	   	{width: 150px;
		background: #e9727e;
		border: solid 1px #ccc;
		color: #fff;
		padding: 10px;}

td 	   	{width: 350px;
		text-align: left;
		border: solid 1px #ccc;
		padding: 10px;}

p 	   	{width: 500px;
		text-align: center;}

div		{width: 500px;
		text-align: center;
		font-weight: bold;
		color: red;
		margin: 0 auto;}

td#sub 	{text-align: right;
		color: black;
		border: solid 1px #ccc;
		padding: 10px;}

p#boder {width: 500px;
		text-align: center;
		font-weight: bold;
		margin: 0 auto;}

table td:hover	{background-color: #d4faff;}